@model Webstore_Admin.ViewModel.DiscountCreateViewModel

@{
    ViewData["Title"] = "Add Discount";
}




<form method="post" asp-action="Create">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-secondary font-weight-light pl-3">Add Product</h2>
        </div>

        <div class="flex-container">
            <div class="row">
                <div class="column col-2">
                    <label asp-for="@Model.Discount.Name" class="control-label"></label>
                    <input asp-for="@Model.Discount.Name" class="form-control" />
                    <span asp-validation-for="@Model.Discount.Name" class="text-danger"></span>
                </div>

                <div class="column col-2">
                    <label asp-for="@Model.Discount.Percent" class="control-label"></label>
                    <input asp-for="@Model.Discount.Percent" class="form-control" />
                    <span asp-validation-for="@Model.Discount.Percent" class="text-danger"></span>
                </div>

                <div class="column col-2">
                    <label asp-for="@Model.Discount.StartDate" class="control-label" value="asd1"></label>
                    <input asp-for="@Model.Discount.StartDate" class="form-control" value="asd2" />
                    <span asp-validation-for="@Model.Discount.StartDate" class="text-danger" value="asd6"></span>
                </div>

                <div class="column col-2">
                    <label asp-for="@Model.Discount.EndDate" class="control-label" value="asd3"></label>
                    <input asp-for="@Model.Discount.EndDate" class="form-control" value="asd4" />
                    <span asp-validation-for="@Model.Discount.EndDate" class="text-danger" value="asd5"></span>
                </div>

                <div class="column col-2">
                    <label class="control-label"></label>
                    <select asp-for="SelectedProductIds" class="form-control" asp-items="ViewBag.Products"></select>
                    <span class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="flex-container">
            <div class="col-2 p-3 text-center">
                <a asp-action="Index" class="btn btn-primary">Back</a>
            </div>
            <div class="col-2 p-3 text-center">
                <input type="submit" class="btn btn-primary" asp-route-copy="true" value="Create" />
            </div>
        </div>
    </div>
</form>




@*----DET NEDAN SKA RADERAS NÄR/OM NYA KODEN (OVAN) FÅR OK------*@

@*<div class="row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Price"></label>
            </div>
            <div class="col-8">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="UnitsInStock"></label>
            </div>
            <div class="col-8">
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CategoryId"></label>
            </div>
            <div class="col-8">
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-4 row">

                <div class="col">
                    <input type="submit" class="btn btn-info w-100" value="Create" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-100">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>*@




@*<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-secondary font-weight-light">Add Product</h1>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-6">

            <form asp-action="Create">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="UnitsInStock" class="control-label"></label>
                        <input asp-for="UnitsInStock" class="form-control" />
                        <span asp-validation-for="UnitsInStock" class="text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <input asp-for="CategoryId" class="form-control" />
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>


                </div>
                <div class="col">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="=btn btn-success">Tillbaka</a>
                </div>
            </form>
        </div>
    </div>
</div>*@


