@model PaginatedList<Discount>

@{
    ViewData["Title"] = "Discounts";
}


<div class="container p-1">
    <div class="col-md-8 offset-md-2 p-1">
        <div class="mx-auto p-4">
            <h1 class="text-secondary font-weight-light" style="text-align: center">Discounts</h1>
        </div>
        <div class="pb-2 text-right">
            <a asp-controller="Discount" asp-action="Create" class="btn btn-success pl-3">
                <i class="bi-plus-circle"></i>
                Create New Discount
            </a>
        </div>
    </div>

    <div class="col-md-8 offset-md-2 p-1">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Percent</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Product</th>
                    <th>Active</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Discount discount in Model)
                {
                <tr>
                    <td class="align-middle">
                        <a asp-controller="Discount" asp-action="Specific" asp-route-name="@discount.Name">@discount.Name</a>
                    </td>
                    <td class="align-middle">@discount.Percent</td>
                    <td class="align-middle">@Html.DisplayFor(x => discount.StartDate)</td>
                    <td class="align-middle">@Html.DisplayFor(x => discount.EndDate)</td>
                    <td class="align-middle"><a asp-controller="Discount" asp-action="Specific" asp-route-name="@discount.Product.Name">@discount.Product.Name</a></td>
                    <td class="align-middle">
                        @if (discount.StartDate < DateTime.Now && discount.EndDate > DateTime.Now)
                        {
                            <h5>Active</h5>
                        }
                    </td>

                    <td class="align-middle">
                        <a class="btn btn-outline-primary" asp-controller="Discount" asp-action="Edit" asp-route-id="@discount.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Discount" asp-action="Create"
                           asp-route-Name="@discount.Name"
                           asp-route-Percent="@discount.Percent"
                           asp-route-StartDate="@discount.StartDate"
                           asp-route-EndDate="@discount.EndDate"
                           asp-route-ProductId="@discount.ProductId">Copy</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>



