@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details -";
}

<div class="container p-1">
    <div class="p-4">
        <h1 class="display-4 text-center">Order #@Model.Order.Id</h1>
    </div>

    <div class="col-md-8 offset-md-2 p-3">
        <div>
            <p class="p-2">
                @Model.Order.Customer.Name <br />
                @Model.Order.Customer.Address, @Model.Order.Customer.City <br />
                @Model.Order.Customer.Email <br />
                @Model.Order.Customer.PhoneNumber <br />
                Distance: @Model.Distance
            </p>
        </div>
    </div>

    <div class="col-md-8 offset-md-2 p-3">
        <table class="table">
            <thead>
                <tr>
                    <th><p class="lead">Product</p></th>
                    <th><p class="lead text-center">Amount</p></th>
                    <th><p class="lead text-center">Unit Price</p></th>
                    <th><p class="lead text-center">Total</p></th>
                </tr>
            </thead>
            <tbody>
                @{decimal? sum = 0m; }
                @foreach (var product in Model.Order.OrderDetails)
                {
                    sum += (product.Product.Price * product.Amount);

                    <tr>
                        <td>@product.Product.Name</td>
                        <td class="text-center"> x @product.Amount</td>
                        <td class="text-center">@product.Product.Price kr</td>
                        <td class="text-center">@(product.Product.Price * product.Amount) kr</td>       
                    </tr>
                }
                <tr>
                    <td>TOTAL:</td>
                    <td></td>
                    <td></td>
                    <td class="text-center">@sum kr</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container p-3">
    <div class="col-md-8 offset-md-2 p-3">
        <a class="btn btn-outline-primary" asp-controller="Admin" asp-action="OrderList">Back</a>
    </div>
</div>
